<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Ups, unexpected error...</h1>
<a href="/"><h1>Go to main page</h1></a>
</form>
</body>
</html>